/* Computer Table ===================================== */
div.scroll{
  width: auto;
  overflow-y:auto;
  height:350px;
}

table.computer{
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  table-layout: fixed;
  width: 100%;
}

tr.computer-data{
  text-align: center;
}
