<div>
  <div>
    <button mat-raised-button color="primary" (click)="createModal()">New Computer</button>
  </div>

  <mat-card>
    <div class="scroll">
      <table class="computer">
        <thead>
        <tr class="computer-data">
          <th>
            PC Name
          </th>
          <th>
            IP Address
          </th>
        </tr>
        </thead>
        <tbody>
        <!--<tr *ngFor="let computer of computers" class="computer-data">-->
        <!--<td>{{computer.computer_name}}</td>-->
        <!--<td>{{computer.ip_addresss}}</td>-->
        <!--</tr>-->
        <tr class="computer-data">
          <td>
            PC 1
          </td>
          <td>
            192.168.8.100
          </td>
        </tr>
        <tr class="computer-data">
          <td>
            PC 2
          </td>
          <td>
            192.168.8.101
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </mat-card>
</div>


<!--<div class="info-box">-->
  <!--<div class="icon">-->
    <!--<i class="material-icons icon">-->
      <!--playlist_add_check-->
    <!--</i>-->
  <!--</div>-->
  <!--<div class="text">NEW COMPUTER</div>-->
<!--</div>-->

