<div class="row">
  <div class="col-md-12">
    <div class="row clearfix">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="info-box bg-light-green hover-expand-effect" (click)="addTerminal()">
          <div class="icon">
            <i class="material-icons">explore</i>
          </div>
          <div class="content">
            <div class="text">ASSIGN TIME</div>
            <div class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="info-box bg-deep-purple hover-expand-effect" (click)="resetTerminal()">
          <div class="icon">
            <i class="material-icons">update</i>
          </div>
          <div class="content">
            <div class="text">RESET TERMINALS</div>
            <div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="info-box bg-warning hover-expand-effect" (click)="shutdownComputers()">
          <div class="icon">
            <i class="material-icons">power_settings_new</i>
          </div>
          <div class="content">
            <div class="text">SHUTDOWN PC</div>
            <div class="number count-to" data-from="0" data-to="1225" data-speed="1000" data-fresh-interval="20"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row clearfix">
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <mat-slide-toggle> Power Cut</mat-slide-toggle>
  </div>
</div>

<div class="row clearfix">
  <mat-card>
    <div class="scroll">
      <table mat-table [dataSource]="terminalDS" class="mat-elevation-z8 terminal">

        <ng-container matColumnDef="pcName">
          <th mat-header-cell *matHeaderCellDef class="terminal-header bg-cyan"> PC Name</th>
          <td mat-cell *matCellDef="let element" class="terminal-data"> {{element.computer_name}}</td>
        </ng-container>
        <ng-container matColumnDef="progressBar">
          <th mat-header-cell *matHeaderCellDef class="terminal-header bg-cyan"> Progress Bar</th>
          <td mat-cell *matCellDef="let element" class="terminal-data"> {{element.progress_bar}}</td>
        </ng-container>
        <ng-container matColumnDef="timeLeft">
          <th mat-header-cell *matHeaderCellDef class="terminal-header bg-cyan"> Time Left</th>
          <td mat-cell *matCellDef="let element" class="terminal-data"> {{element.time_left}}</td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef class="terminal-header bg-cyan"> Status</th>
          <td mat-cell *matCellDef="let element" class="terminal-data"> {{element.status}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-card>
</div>
