<div>
  <div class="create-btn">
    <button mat-raised-button color="primary" (click)="createModal()">New Computer</button>
  </div>

  <mat-card>
    <div class="scroll">
      <table mat-table [dataSource]="computersDS" class="mat-elevation-z8 computer">

        <ng-container matColumnDef="pcName">
          <th mat-header-cell *matHeaderCellDef class="computer-header bg-cyan"> PC Name</th>
          <td mat-cell *matCellDef="let element" class="computer-data">{{element.computerName}}</td>
        </ng-container>
        <ng-container matColumnDef="ipAddress">
          <th mat-header-cell *matHeaderCellDef class="computer-header bg-cyan"> IP Address</th>
          <td mat-cell *matCellDef="let element " class="computer-data">{{element.ipAddress}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDialog(row)"></tr>
      </table>
    </div>
  </mat-card>

</div>
