.bg-orange {
  background-color: #FF9800 !important;
  color: #fff; }
.bg-orange .content .text,
.bg-orange .content .number {
  color: #fff !important; }

.bg-purple {
  background-color: #9C27B0 !important;
  color: #fff; }
.bg-purple .content .text,
.bg-purple .content .number {
  color: #fff !important; }

.bg-cyan {
  background-color: #00BCD4 !important;
  color: #fff; }
.bg-cyan .content .text,
.bg-cyan .content .number {
  color: #fff !important; }

.bg-light-green {
  background-color: #8BC34A !important;
  color: #fff; }
.bg-light-green .content .text,
.bg-light-green .content .number {
  color: #fff !important; }
